Server/server.WebApi/Service References/WcfServiceReference/SignupService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9066/SignupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server.Data" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/server.Data" minOccurs="0" name="signupInput" nillable="true" type="q1:SignupInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/server.Data" minOccurs="0" name="AddResult" nillable="true" type="q2:SignupResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/server.Data" minOccurs="0" name="queryInput" nillable="true" type="q3:QueryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/server.Data" minOccurs="0" name="QueryResult" nillable="true" type="q4:QueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFutureEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFutureEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/server.Data" minOccurs="0" name="GetFutureEventsResult" nillable="true" type="q5:ArrayOfFunnyEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>